<% include partials/head %>
    <% include partials/navbar %>

        <style>
            body {
                background-image: linear-gradient(-200deg, rgb(11, 119, 138) 60%, white 60%);
            }
        </style>
        <section>
            <!-- titulo  -->
            <section id="titulo">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h1 style="color: #FFC312;">Crear Curso
                            </h1>

                        </div>
                    </div>
                </div>
            </section>
            <!-- boton para crear curso -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <button type="button" class="btn btn-info" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">Agregar Nuevo Curso</button>
                            <!-- modal crear curso -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header" style="text-align: center;">
                                            <h5 class="modal-title" id="exampleModalLabel">Crear Un Curso</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/add" method="post">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                                        value="">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text"
                                                        class="col-form-label">Descripci贸n:</label>
                                                    <textarea class="form-control" id="descripcion" name="descripcion"
                                                        value="Descripcion"></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Grupo:</label>
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example" class="form" id="GrupoId"
                                                        name="GrupoId" style="width: 150px;">

                                                        <option selected>Grupo</option>
                                                        <option value="A">A</option>
                                                        <option value="B">B</option>
                                                        <option value="C">C</option>

                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name"
                                                        class="col-form-label">Asignatura:</label>
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example" class="form"
                                                        id="AsignaturaId" name="AsignaturaId">

                                                        <option selected>Seleccionar una Asigantura</option>
                                                        <option value="Filosofia">Filosofia</option>
                                                        <option value="Probabilidad">Probabilidad y Estadistica</option>
                                                        <option value="Bioquimica">Bioquimica</option>

                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Agregar
                                                        Imagen:</label>
                                                    <select class="form-select form-select-sm"
                                                        aria-label=".form-select-sm example" name="imagen" id="imagen">
                                                        <option selected>Seleccionar Imagen</option>
                                                        <option value="electricidad.webp">Electricidad</option>
                                                        <option value="Programacion.webp">Programaci贸n</option>
                                                        <option value="soporte.webp">Soporte y Mantenimineto</option>
                                                    </select>
                                                    <div class="container">
                                                        <div class="row" aling="center">
                                                            <div class="col">
                                                            </div>
                                                            <div class="col">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="100%"
                                                                    height="100%" fill="currentColor"
                                                                    class="bi bi-image-fill" viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M.002 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-12a2 2 0 0 1-2-2V3zm1 9v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V9.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12zm5-6.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
                                                                </svg>
                                                            </div>
                                                            <div class="col">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" align="center">
                                                    <button type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                    <button type="submit" class="btn btn-success">Guardar</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Termina Modal Crear Curso   -->
                        </div>
                    </div>
                </div>
            </section><br>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm" id="pen">
                            <h1 id="diente">Pendientes</h1>
                            <div><br>
                                <div class="container">
                                    <div class="row">
                                        <% for(var i=0; i < Curso.length; i++) { %>
                                            <% if(Curso[i].estado==false && Curso[i].Esplaneado==false) { %>
                                                <div class="col-sm">
                                                    <div id="curso2">
                                                        <img src="/images/<%= Curso[i].imagen %>" alt=""
                                                            id="imagenCurso">
                                                        <h5>
                                                            <%= Curso[i].nombre %>
                                                        </h5>
                                                        <h6>Grupo: <%= Curso[i].GrupoId %>
                                                        </h6>

                                                        <details>
                                                            <summary>Descripci贸n</summary>
                                                            <p class="card-text">
                                                                <%= Curso[i].descripcion %>
                                                            </p>
                                                        </details><br>
                                                        <div style="width: 300px;">
                                                            <button type="button" class="btn btn-danger"><a
                                                                    href="/delete/<%= Curso[i].id %>"
                                                                    class="link">Eliminar</a></button>
                                                                    <button type="button" class="btn btn-primary" ><a href="/edit/<%= Curso[i].id %>">
                                                                        Editar
                                                                    </a></button>
                                                           
                                                            <button type="button" class="btn btn-success"><a
                                                                    href="/contenido/<%= Curso[i].id %>"
                                                                    class="link">Contenido</a></button>
                                                        </div>
                                                    </div><br>

                                                </div>
                                                <% } %>
                                                    <% } %>

                                    </div><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm" id="pla">
                            <h1 id="near">Planear</h1>
                            <div>
                                <div class="container">
                                    <div class="row">
                                        <% for(var i=0; i < Curso.length; i++) { %>
                                            <% if(Curso[i].estado==true && Curso[i].Esplaneado==false) { %>
                                                <div class="col-sm">
                                                    <div id="curso2">
                                                        <img src="/images/<%= Curso[i].imagen %>" alt=""
                                                            id="imagenCurso">
                                                        <h5>
                                                            <%= Curso[i].nombre %>
                                                        </h5>
                                                        <h6>Grupo: <%= Curso[i].CvGrupo %>
                                                        </h6>
                                                        <details>
                                                            <summary>Descripci贸n</summary>
                                                            <p class="card-text">
                                                                <%= Curso[i].descripcion %>
                                                            </p>
                                                        </details><br>
                                                        <div style="width: 300px;">
                                                            <div class="container">
                                                                <div class="row">
                                                                  <div class="col-sm">
                                                                    <button type="button" class="btn btn-danger"><a href="/delete/<%= Curso[i].id %>"
                                                                        class="link">Eliminar</a></button>
                                                                  </div>
                                                                  <div class="col-sm">
                                                                    <button type="button" class="btn btn-success"><a href="/planear/<%= Curso[i].id %>"
                                                                        class="link">Planear</a></button>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                        </div>
                                                    </div><br>

                                                </div>
                                                <% } %>

                                                    <% } %>
                                                        <div class="col-sm">


                                                        </div>
                                                        <div class="col-sm">


                                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section> <br>

        <% include partials/footer %>